<h2 id="title">WAG - We Adopt Greyhounds, Inc.</h2>
<ul>
  <li>
    {{#link-to 'availablehounds'}}Available Hounds{{/link-to}}
  </li>
  <li>
    {{#link-to 'prisonhounds'}}CT. Prison Hounds{{/link-to}}
  </li>
  <li>
    {{#link-to 'donate'}}Donate{{/link-to}}
  </li>
  <li>
    {{#link-to 'adoption'}}Adoption{{/link-to}}
  </li>
  <li>
    {{#link-to 'about'}}About{{/link-to}}
  </li>
  <li>
    {{#link-to 'adopted'}}Adopted{{/link-to}}
  </li>
  <li>
    {{#link-to 'events'}}Events{{/link-to}}
  </li>
  <li>
    {{#link-to 'shop'}}Shop{{/link-to}}
  </li>
</ul>
{{outlet}}
