<div class="home-header">
		   <h2>We Adopt Greyhounds, Inc.</h2>
		   <p>Placing retired racing greyhounds in homes throughout CT since '92</p>
	    </div>
<div class=".bg">
	<div class="jumbotron vertical-center">
		
	</div>
</div>